.container {
    position: relative;
    padding: 200px 8px 8px 8px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shape-1 {
    position: absolute;
    left: 10%;
    bottom: -10%;
    width: 130px;
    height: 130px;
    background-color: #fabf02;
    border-radius: 50%;
}
.shape-2 {
    position: absolute;
    right: 6%;
    top: 30%;
    width: 150px;
    height: 150px;
    background-color: #fe5734;
    border-radius: 50%;
}
